TAG=latest

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=replace_with_strong_password
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
PG_DATABASE_NAME=default
REDIS_URL=redis://redis:6379

SERVER_URL=http://localhost:3000
FRONT_BASE_URL=http://localhost:3000

STORAGE_TYPE=local

APP_SECRET=replace_with_hex_64_characters_token
ENCRYPTION_KEY=replace_with_hex_64_characters_token

DISABLE_DB_MIGRATIONS=false
DISABLE_CRON_JOBS_REGISTRATION=false
